*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-image: url('imagens/imgarvore.jpg');
background-repeat: repeat;
background-size: cover;
display: flex;
justify-content: center;
align-items: center;
}
.card{
    width: 50%;
    background-color: #0a535c;
    color: white;
    padding: 10px;
    line-height: 50px;
    font-size: 30px;
}
h1{
    margin-bottom: 40px;
}
.perfil{
    display: flex;
    border: 1px solid white;
}
.imagem{
    width: 100%;
}
.img{
    height: 300px;
    width: 60%;
    border: 1px solid white;
}
.continua{
    background-color: #0a535c;
    opacity: 0.8;
    height: 100vh;
    left: 0;
    top: 0;
position: fixed;
text-align: center;
}
a{
    text-decoration: none;
    color: white;
    margin-bottom: 60px;
    display: block;
    font-size: 30px;
    transition: 0.4s;
}
a:hover{
    color: black;
}


@media (max-width: 768px){
.card{
    font-size: 25px;
    width: 66%;
}
img{
    width: 100%;
}
a{
    margin-bottom: 30px;
    display: block;
    font-size: 20px;
    transition: 0.4s;
}
}